.animal {
    margin: 1%;
    padding: 2%;
    width: 25%;
    border: 2px solid slategray;
    background-color: skyblue;
    text-align: center;
}
.animal-image {
    width: 400px;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}